.search {
  width: 400px;
  height: 40px;
  border-radius: 20px;
  background-color: #ffffff;
  border-color: #d9d9d9;
  color: black;
  padding-left: 15px;
}
.search-icon {
  color: #1e1e1e;
}
.search-container {
  position: "relative";
}

.new-recipes-button-box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.new-recipes-button {
  width: 180px;
  height: 48px;
  background-color: #65558f;
  cursor: pointer;
}
