.search {
  width: 400px;
  height: 40px;
  border-radius: 20px;
  background-color: #ffffff;
  border-left: #d9d9d9;
  border-top: #d9d9d9;
  border-bottom: #d9d9d9;
  border-right: #d9d9d9;
  color: black;
  padding-left: 15px;
}

.search-bar {
  position: relative;
  width: 100%;
  max-width: 400px;
}
.search-icon {
  position: absolute;
  top: 50%;
  right: 1px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  color: #1e1e1e;
}
.search-container {
  position: "relative";
}

.new-recipes-button-box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.new-recipes-button {
  width: 180px;
  height: 48px;
  background-color: #65558f;
  cursor: pointer;
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.skeleton {
  width: 420px;
  height: 100px;
  margin-top: 16px;
  margin-bottom: 16px;
}
